@model IEnumerable<FrontEnd.API.Models.AspNetUsers>

@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <h1>Usuarios del Sistema</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre de Usuario
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>


                </tr>
            }
        </tbody>
    </table>

</div>