Solution_BackEnd/.vs/
Solution_BackEnd/Solution.API.W/bin/
Solution_BackEnd/Solution.API.W/obj/
Solution_BackEnd/Solution.API/bin/
Solution_BackEnd/Solution.API/obj/
Solution_BackEnd/Solution.BS/bin/
Solution_BackEnd/Solution.BS/obj/
Solution_BackEnd/Solution.DAL.EF/bin/
Solution_BackEnd/Solution.DAL.EF/obj/
Solution_BackEnd/Solution.DAL.Repository/bin/
Solution_BackEnd/Solution.DAL.Repository/obj/
Solution_BackEnd/Solution.DAL/bin/
Solution_BackEnd/Solution.DAL/obj/
Solution_BackEnd/Solution.DO/bin/
Solution_BackEnd/Solution.DO/obj/
