@model FrontEnd.W.Models.Productos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionPproducto" class="control-label"></label>
                <input asp-for="DescripcionPproducto" class="form-control" />
                <span asp-validation-for="DescripcionPproducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anno" class="control-label"></label>
                <input asp-for="Anno" class="form-control" />
                <span asp-validation-for="Anno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMarcaProducto" class="control-label"></label>
                <select asp-for="IdMarcaProducto" class ="form-control" asp-items="ViewBag.IdMarcaProducto"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTienda" class="control-label"></label>
                <select asp-for="IdTienda" class ="form-control" asp-items="ViewBag.IdTienda"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class ="form-control" asp-items="ViewBag.IdCategoria"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
