@model FrontEnd.API.Models.Tiendas

@{
    ViewData["Title"] = "Detallesz";
}

<div class="container">

    <h1>Comentarios de  @Html.DisplayFor(model => model.NombreTienda)</h1>

    <div class="col-12">
        <table class="table">
            <thead><tr><td>Comentario</td><td>Valoracion</td></tr></thead>
            <tbody>

                @foreach (var item in ViewData["Valoraciones"] as IEnumerable<FrontEnd.API.Models.ValoracionTienda>)
                {
                    @if(@item.IdTienda==Convert.ToInt32(ViewData["idTienda"])) {
                        <tr><td>@item.Comentario</td><td>@item.Valoracion</td></tr> }
                    }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Index">Volver a tiendas</a>
    </div>

</div>