@model FrontEnd.API.Models.Tiendas

@{
    ViewData["Title"] = "Actualizar";
}
<div class="container">

    <h1>Actualizar datos de tienda </h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdTienda" />
                <div class="form-group">
                    <label asp-for="NombreTienda" class="control-label"></label>
                    <input asp-for="NombreTienda" class="form-control" />
                    <span asp-validation-for="NombreTienda" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescripcionTienda" class="control-label"></label>
                    <input asp-for="DescripcionTienda" class="form-control" />
                    <span asp-validation-for="DescripcionTienda" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar Cambios" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="https://localhost:5001/Productos/Create" class="btn btn-secondary">Agregar Productos</a>
        <a href="https://localhost:5001/TelefonoTiendas/Create" class="btn btn-secondary">Agregar telefono de la tienda</a>
        <a href="https://localhost:5001/UsuarioTiendas/Create" class="btn btn-secondary">Agregar usuario de la tienda</a>
        <a href="https://localhost:5001/CorreoTiendas/Create" class="btn btn-secondary">Agregar correo de la tienda</a>
        <a href="https://localhost:5001/UbicacionTiendas/Create" class="btn btn-secondary">Agregar ubicación de la tienda</a>
        <br />
        <a asp-action="Index">Volver a la lista de tiendas</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>