@model FrontEnd.API.Models.MarcaProductos

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Detalles</h1>

    <div>
        <h4>Marca Productos</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MarcaProducto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MarcaProducto)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdMarca">Editar</a> |
        <a asp-action="Index">Volver a la lista de marcas</a>
    </div>

</div>